.header{
    width: 100%;
    background-color: #10101D;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    &-navbar{
        display: flex;
        justify-content: space-between;
        color: white;
        &__title {
            height: 100px;
            line-height: 100px;
            font-size: 28px;
            font-weight: 800;
            font-family: 'Raleway-Regular', sans-serif;
            cursor: pointer;
        }
        &__title span{
            color: #42A9ED;
        }
        &__menu {
            width: 435px;
            height: 100px;
            line-height: 100px;
            display: flex;
            justify-content: space-between;
        }
        &__item {
            font-family: 'Lato-Regular', sans-serif;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}
.active{
    color: #43ABF0;
}