.offer{
    width: 100%;
    height: 920px;
    background-image: url('../img/offer_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #272733;
    display: flex;
    text-align: center;
    &-container{
        margin: auto;
        &__title div{
            font-size: 36px;
            font-weight: 600;
            font-family: 'Lato-Regular', sans-serif;
            color: white;
            margin-bottom: 30px;
        }
        &__title span{
            color: #3E9CDC;
        }
        &__title p{
            font-size: 18px;
            font-family: 'Lato-Regular', sans-serif;
            color: #BBBBBB;
        }
        &__advantages{
            max-width: 1172px;
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            &-bcircle{
                display: flex;
                gap: 19px;
                margin: 50px -65px 0;
            }
            &-circle{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: white;
                
            }
            &-item{
                display: flex;
                flex-direction: column;
                width: 18%;
                font-size: 16px;
                font-family: 'Lato-Regular', sans-serif;
                text-align: center;
                color: white;   
            }
            &-item div{
                margin: 0 auto 20px;
                width: 50%;
                border-radius: 50%;
                background-color: #3E9CDC;
                border: 5px solid #286690;
            }
            &-item div::after{
                content: '';
                display: block;
                padding-top: 100%;
            }
            &-item p{
                width: 100%;
            }
            &-icon1{
                background: url('../img/icon/search.svg')center no-repeat;
            }
            &-icon2{
                background: url('../img/icon/percent.svg') center no-repeat;
            }
            &-icon3{
                background: url('../img/icon/file.svg') center no-repeat;
            }
            &-icon4{
                background: url('../img/icon/message.svg') center no-repeat;
            }
            &-icon5{
                background: url('../img/icon/money.svg') center no-repeat;
            }
            
        }
        &__form{
            margin-top: 80px;
            &-inputblock{
                display: flex;
                justify-content: space-between;
            }
            &-input{
                width: 31%;
                height: 48px;
                border-radius: 3px;
                border: 1px solid white;
                font-family: 'Lato-Regular', sans-serif;
                font-size: 18px;
                color: #272733;
                padding-left: 10px;
                background-color: white;
                display: flex;
                cursor: pointer;
            }
            &-input span{
                margin: auto;
                display: flex;
                gap: 10px;
            }
            &-inputrange{
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
            }
            &-inputtext{
                margin: auto;
                color: #272733;
                text-transform: uppercase;
                font-family: 'Lato-Bold',sans-serif;
                font-size: 15px;
                font-weight: 600;
            }
            &-inputwrapper{
                width: 65%;
            }
            &-range{
                margin-top: 21px;
                -webkit-appearance: none;
                width: 100%;
                height: 6px;
                cursor: pointer;
                accent-color: #FFFFFFB2;
                background-color: #FFFFFFB2;
                border: 1px solid white;
                border-radius: 10px;
            }
            &-range::-webkit-slider-thumb {
                -webkit-appearance: none !important;
                background:#42A9ED;
                border-radius: 50%;
                height:24px;
                width:24px;
                border: 3px solid #286690;
            }
            &-rangetext{
                display: flex;
                justify-content: space-between;
                font-family: 'Lato-Regular', sans-serif;
                font-size: 18px;
                color: white;
            }
            &-button{
                margin-top: 40px;
                width: 31%;
                height: 48px;
                border-radius: 4px;
                background-color: #3E9CDC;
                color: white;
                border: 1px solid white;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 15px;
                font-family: 'Lato-Regular',sans-serif;
            }
        }
    }
}
.selector{
    background-color: #3D4050D9;
    color: white;
    border: 1px solid #3D4050D9;
    &-option{
        color: black;
    }
}

.container{
    width: 31%;
    height: 48px;
    border-radius: 3px;
    position: relative;
    }
    .btn{
    width: 100%;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    color: white;
    }
    input[type=checkbox] {
        -moz-appearance:initial // Hack for Firefox Browsers
      }
    .btn::before{
    content: 'Выберите тип системы';
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
    border: 1px solid #3D4050;
    padding-left: 1em;
    background-color: #3D4050;
    }
    .btn::after{
    content: '∧';
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    width: 20%;
    height: 110%;
    color: white;
    transform: rotate(180deg);
    transition: all .4s;
    }
    .btn:checked::after{
    transform: rotate(0deg);
    }
    .list{
    position: absolute;
    width: 100%;
    height: 175px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    flex-direction: column;
    border: 1px solid #3D4050;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #42A9ED #3D4050;
    }
    input:checked ~ .list{
    clip-path: none;
    }
    .list::-webkit-scrollbar {
        width: 7px;
        
    }
    .list::-webkit-scrollbar-thumb {
        background-color: #42A9ED;  
        border-radius: 20px;       
        background-clip: content-box!important;
    }
    .list::-webkit-scrollbar-track {
        background: #3D4050;
    }
    .list a{
    height: 25%;
    display: flex;
    align-items: flex-start;
    float: left;
    padding: 0.3em 0 0.3em 1em;
    text-decoration: none;
    background: #272733;
    color: white;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 18px;
    }
    .list a:hover{
    color: #42A9ED;
    }

    @media (max-width: 1172px){
        .offer{
            &-container{
                &__advantages{
                    &-item div{
                        width: 77px;
                        height: 77px;
                    }
                    &-bcircle{
                        margin-top: 40px;
                        gap: 14px;
                    }
                }
            }
        }
    }
    @media (max-width: 1000px){
        .offer{
            &-container{
                &__advantages{
                    &-item{
                        font-size: 13px;      
                    }
                    &-bcircle{
                        margin-top: 38px;
                        gap: 9px;
                    }
                }
                &__form{
                    &-input{
                        font-size: 15px;
                    }
                    &-inputtext{
                        font-size: 13px;
                    }
                    &-rangetext{
                        font-size: 15px;
                    }
                }
            }
        }
        .btn{
            font-size: 15px;
        }
        .list a{
            font-size: 15px;
        }
    }
    @media (max-width: 760px){
        .offer{
            &-container{
                &__advantages{
                    
                    &-item{
                        word-wrap: break-word;
                    }
                    &-bcircle{
                        display: none;
                    }
                }
            }
        }
        .btn{
            font-size: 16px;
        }
    }
    @media (max-width: 600px){
        .offer{
            &-container{
                &__advantages{
                    flex-wrap: wrap;
                    justify-content: center;
                    &-item{
                        word-wrap: break-word;
                        width: 25%;

                    }
                    &-bcircle{
                        display: none;
                    }
                }
                &__form{
                    &-input{
                        font-size: 13px;
                    }
                }
            }
        }
        .btn{
            font-size: 13px;
        }
    }
    @media (max-width: 480px){
        .offer{
            padding-bottom: 1100px;
            &-container{
                margin-top: 40px;
                &__advantages{
                    margin-top: 40px;
                }
                &__form{
                    margin-top: 40px;
                    &-inputblock{
                        flex-wrap: wrap;
                        gap: 15px;
                    }
                    &-input{
                        width: 100%;
                    }
                    &-inputrange{
                        flex-wrap: wrap;
                    }
                    &-inputwrapper{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    &-button{
                        width: 90%;
                    }
                }
            }
        }
        .container{
            width: 100%;
        }

    }